body{  background-image:url("https://media1.giphy.com/media/UxTZDNv0Zej4s/giphy-downsized-large.gif")


}
a {color:yellow;
font-size:25
	
	
	
	
	
}
p{color:white;


font-size:30;


}
div{color:lawngreen;
font-size:45;


}
h1{font-family: "algerian";
color:lawngreen;
font-size:55; 



}
h4{
font-size:36 ;
font-family :"arial";
color:lawngreen;
}
br{color:white;
font size:26;
}
img{
height:420;
}
h3{font-size:46;
color:lawngreen;
font-family:verdana;
}
h2{font-size:50;
color:lawngreen; 
font-family:courier;
}
